@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(135deg, #f6fdc3, #cdfad5);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  color: white;
}

.main {
  width: 100vw;
  max-width: 470px;
  background: #ff8080;
  border-radius: 20px;
  padding: 1.2vh 1vw;
}
.main h3 {
  margin: 20px 10px 10px;
}

.icon {
  color: rgb(56, 220, 166);
}

.search {
  background: #cdfad5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 0 10px 20px;
}
.search input {
  border: none;
  outline: none;
  border-radius: 20px;
  background: transparent;
  padding-left: 20px;
  width: 90%;
}
.search button {
  border: none;
  outline: none;
  border-radius: 20px;
  width: 60px;
  background: #ffcf96;
  cursor: pointer;
}

ul li {
  font-size: 17px;
  color: #ff8080;
  background-color: #cdfad5;
  border-radius: 10px;
  padding: 5px;
  padding: 10px 10px 10px 50px;
  margin: 0 10px 10px 10px;
  user-select: none;
  position: relative;
  cursor: pointer;
}

ul li::before{
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 5px ;
  left: 8px;
}

.checked{
  color: #555;
  text-decoration: line-through;

}

.checked::before{
  background-image: url(./images/checked.png);
}


ul li span{
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
background: #706f6f;
color: red;
} 